@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #0f172a;
  --secondary: #f97316;

  --muted: #64748b;
  --border: #e2e8f0;

  --section: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground);
}

p {
  color: var(--muted);
  line-height: 1.7;
}

.container-custom {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.section-padding {
  padding-block: 5rem;
}